<link rel="stylesheet" href="/styles/userLogin.css">
<div id="loader">Loading...</div>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="/user/login" id="submitForm" method="post">
      <input type="text" id="message" value="{{{message}}}" name="message" hidden>
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <input type="text" id="email" name="email" placeholder="Enter your email">
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/user/register">Signup</a>
        </span>
      </div>
    </div>
  </div>


<script>
  const form = document.getElementById('submitForm')
  form.addEventListener('submit', (e)=>{
    e.preventDefault();
      const email = document.getElementById('email').value
      const password = document.getElementById('password').value
      const username = document.getElementById('username').value
      if(email == "" || password == "" || username == ""){
          Swal.fire({
          title: "Require all fields",
          text: "",
          icon: "error"
        });
          return;
      }else if(!isValidEmail(email)){
          Swal.fire({
          title: "INVALID EMAIL",
          text: "",
          icon: "error"
        });
          return
      }else if(!isValidUsername(username)){
          Swal.fire({
          title: "Invalid Username",
          text: "",
          icon: "error"
        });
          return
      }

      e.target.submit()
      document.getElementById("loader").style.display = "block";
  })

  function isValidEmail(email) {
    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
}

function isValidUsername(username){
  return /^[a-z0-9_]+$/.test(username)
}

const message = document.getElementById('message').value;
if(message){
  Swal.fire({
    title: message,
    text: "",
  });
}
</script>