<link rel="stylesheet" href="/styles/userHome.css">
<div class="container">
        <div class="logout-container">
            <a href="/user/logout">
            <button class="logout-button">Logout</button>
            </a>
        </div>
        <div class="welcome-box">
            <h1>Welcome!</h1>
            <p>We're glad to have you here. Explore and enjoy your journey with us.</p>
        </div>
    </div>