<link rel="stylesheet" href="/styles/userHome.css">
 <div class="container">
        <div class="logout-container">
            <a href="/user/logout">
                <button class="logout-button">Logout</button>
            </a>
        </div>
        
        <div class="game-container">
            <div class="game-header">
                <h1>Welcome</h1>
                <img src="/img/user-home-img.jpg" alt="">
            </div>
            
            
            
            
            
            
        </div>
        
       
    </div>