<link rel="stylesheet" href="/styles/adminLogin.css">
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
        <h2>Admin</h2>
      <header>Login</header>
      <form action="/admin/login" id="submitForm" method="post">
      <input type="text" id="message" value="{{{message}}}" name="message" hidden>
        <input type="text" id="email" name="email" placeholder="Enter your email">
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <input type="submit" class="button" value="Login">
      </form>
    </div>
  </div>


<script>
  const form = document.getElementById('submitForm')
  form.addEventListener('submit', (e)=>{
    e.preventDefault();
      const email = document.getElementById('email').value
      const password = document.getElementById('password').value
      if(email == "" || password == ""){
          Swal.fire({
          title: "Require all fields",
          text: "",
          icon: "error"
        });
          return;
      }else if(!isValidEmail(email)){
          Swal.fire({
          title: "INVALID EMAIL",
          text: "",
          icon: "error"
        });
          return
      }

      e.target.submit()
  })

  function isValidEmail(email) {
    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
}

const message = document.getElementById('message').value;
if(message){
  Swal.fire({
    title: message,
    text: "",
    icon: "error"
  });
}
</script>